body{
    background-color: #272727;
}
.sections{
    display: flex;
    justify-content: space-around;
}

.sectionGenerate{
    margin-right: 20px;
}



div{
    color: green;
}

.dataTable{
    display: flex;
    height: 380px;
}



.cell{
    width: 60px;
}
.cellDate{
    width: 140px;
}
.headerTable div{
    color: chocolate;
}

.row{
    border: 0.5px solid gray;
    text-align: center;
    display: flex;
    padding: 5px 0px 5px 0px;
}
.pagination{
    padding: 10px 10px 10px 0px;
}


.areaLeft{
    margin-right: 100px;
}

button{
    width: 70px;
}

input{
    width: 70px;
    text-align: center;
}